<script>
	import injectCSS from '../utils/injectCSS'
	import editor_css from '../assets/css/editor.css'
	import prosemirror_css from '../assets/css/styles.css'
	import menubar_css from '../assets/css/menubar.css'

	import {EditorState} from "prosemirror-state"
	import {EditorView} from "prosemirror-view"
	import {Schema, DOMParser} from "prosemirror-model"
	// import { schema } from "prosemirror-schema-basic"

	import {addListNodes} from "prosemirror-schema-list"

	import {keymap} from "prosemirror-keymap"
	import {baseKeymap} from "prosemirror-commands"
	import {dropCursor} from "prosemirror-dropcursor"
	import {gapCursor} from "prosemirror-gapcursor"

	import {inputRules, wrappingInputRule, textblockTypeInputRule,
        smartQuotes, emDash, ellipsis} from "prosemirror-inputrules"
    import { buildKeymap } from "prosemirror-example-setup"
	import { onMount } from 'svelte'

	export let menu = {}
	export let ext = {}
	export let content = ''
	let whereToMount

	onMount(()=>{
		injectCSS(prosemirror_css)
		injectCSS(editor_css)
		injectCSS(menubar_css)
		injectCSS(`
			.myred { border: 1px solid red; }
			.mybg { padding: 8px; display: block; }
			.mycolor { color: blue; }
		`)

		// { schema
			let marks = {}
			let nodes = {
				doc: {
					content: "block+"
				},
				paragraph: {
			    	attrs: {
						classNames: { default: "" }
					},
					content: "inline*",
					group: "block",
					parseDOM: [{tag: "p"}],
					toDOM(node) { 
						let classNames = node.attrs.classNames
						return ["p", { class: classNames }, 0] 
					}
				},
				text: {
					group: "inline"
				},
			}
			for(let type in menu)	{
				if ("nodes" === menu[type].$$.ctx.ext.type) {
					nodes[menu[type].$$.ctx.ext.name]  = menu[type].$$.ctx.ext.schema
				}
				else if ("marks" === menu[type].$$.ctx.ext.type) {
					marks[menu[type].$$.ctx.ext.name]  = menu[type].$$.ctx.ext.schema	
				}
			} 
			let schema = new Schema({nodes, marks}) 

			for(let type in menu)	{
				menu[type].$$.ctx.ext.editorSchema = schema
			}
		// }

		// extensions {
		let extensions = []
		let rules = []
		for(let type in menu) {
			extensions.push(menu[type].$$.ctx.ext.plugin)
			let plgRules = menu[type].$$.ctx.ext.inputRule()
			if(plgRules) {
				rules = rules.concat(plgRules)
			}
		}

		let plugins = [
		    keymap(buildKeymap(schema, schema.mapKeys)),
		    keymap(baseKeymap),
		    dropCursor(),
		    gapCursor(),
		    inputRules({rules: rules}),
		  ]


		//extensions = extensions.concat([inputRules({rules})]).concat(plugins)
		extensions = extensions.concat(plugins)
		// }


		// inital content
		let whatToMount = document.createElement('div')
		whatToMount.innerHTML = content


		let edState = EditorState.create({
			doc: DOMParser.fromSchema(schema).parse(whatToMount),
			plugins: extensions
		})
		for(let type in menu)	{
			menu[type].$$.ctx.ext.editorView = edState
		}
		
		let editorView = new EditorView(whereToMount, { state: edState })
		for(let type in menu)	{
			menu[type].$$.ctx.ext.editorView = editorView
		}

		
		// ProseMirrorDevTools.applyDevTools(editorView, { EditorState: edState });


		// console.log("VIEW", editorView.docView.size);
		// console.log("STATE", edState.doc.slice(0,5));

	})

</script>


<style>

</style>

<div class="editor">
	<slot>No editor yet..</slot>
	<div class="editor__content" bind:this = { whereToMount } />
</div>
