<script>
	import { onMount } from 'svelte'
	import { wrapIn, setBlockType } from 'prosemirror-commands'
	import { wrappingInputRule, textblockTypeInputRule } from "prosemirror-inputrules"

	import Mark from '../utils/mark'


	class Blockquote extends Mark {
	  get name()	{
	  	return "blockquote"
	  }

	  get type() {
	  	return "nodes"
	  }

	  get schema() {
	    return {
			attrs: {
			      classNames: { default: "" }
			},
		    content: 'block*',
		    group: 'block',
		    defining: true,
		    draggable: false,
		    parseDOM: [
		    	{ 
		    		tag: 'blockquote', 
		    		getAttrs: function(dom) { 
			    		return {
			    			classNames: dom.className
			    		};
		    		} 
		    	},
		    ],
		    toDOM: (node) => {
				let classNames = node.attrs.classNames
		    	return ['blockquote', { class: classNames }, 0]
		    	// return ['blockquote', 0]
		    }
	    }
	  }

	  get key()	{
	  	return "KeyQ"
	  }

	  command(attrs) {
	    return wrapIn(this.editorSchema[this.type][this.name], attrs)
	  }

	  inputRule() {
    	return [
    		wrappingInputRule(/^\s*>\s$/, this.editorSchema[this.type][this.name])
    	]
	  }
	}

	export let ext = new Blockquote()
</script>
<style>

</style>
<span on:click="{ext.runCommand({classNames: "myred"})}" class="menubar__button">
	Blockquote
</span>

