<script>
	import { onMount } from 'svelte'
	import { toggleMark } from 'prosemirror-commands'
	import markInputRule from "../utils/markInputRule"

	import Mark from '../utils/mark'


	class Bold extends Mark {
	  get name()	{
	  	return "strong"
	  }

	  get key() {
	  	return "KeyB"
	  }

	  get type() {
	  	return "marks"
	  }

	  get schema() {
	  	return {
	    	parseDOM: [
	    		{tag: "strong"},
            	// This works around a Google Docs misbehavior where
            	// pasted content will be inexplicably wrapped in `<b>`
            	// tags with a font-weight normal.
            	{tag: "b", getAttrs: node => node.style.fontWeight != "normal" && null},
            	{style: "font-weight", getAttrs: value => /^(bold(er)?|[5-9]\d{2,})$/.test(value) && null},
            ],
			toDOM() { return ["strong", 0] }
	    }
	  }

	  command() {
	    return toggleMark(this.editorSchema[this.type][this.name])
	  }

	  inputRule() {
	    return [
	      markInputRule(/(?:\*\*|__)([^*_]+)(?:\*\*|__)$/, this.editorSchema[this.type][this.name]),
	    ]
	  }
	}


	export let ext = new Bold()

</script>
<style>

</style>
<span on:click="{ext.runCommand()}" class="menubar__button">
	Bold
</span>



