<script>
	import { onMount } from 'svelte'
	import { wrapIn, setBlockType } from 'prosemirror-commands'
	import { wrappingInputRule, textblockTypeInputRule } from "prosemirror-inputrules"

	import Mark from '../utils/mark'


	class Div extends Mark {
	  get name()	{
	  	return "div"
	  }

	  get type() {
	  	return "nodes"
	  }

	  get schema() {
	    return {
	    	attrs: {
			      classNames: { default: "" }
		    },
			content: 'inline*',
			group: 'block',
			defining: true,
			draggable: false,
			parseDOM: [
				{ 
					tag: 'div',
					getAttrs: function(dom) { 
			    		return {
			    			classNames: dom.className
			    		};
		    		} 
				},
			],
			toDOM: (node) => {
				let classNames = node.attrs.classNames
				return ["div", { class: classNames }, 0]
				// return ["div", 0]
			}
	    }
	  }

	  get key()	{
	  	return ""
	  }

	  command(attrs) {
	    // return wrapIn(this.editorSchema[this.type][this.name])
	    return setBlockType(this.editorSchema[this.type][this.name], attrs)
	  }

	  inputRule() {
    	return textblockTypeInputRule(new RegExp("^div\\s$"),
                                this.editorSchema[this.type][this.name])
	  }
	}

	export let ext = new Div()
</script>
<style>

</style>
<span on:click="{ext.runCommand()}" class="menubar__button">
	Div
</span>

