<script>
	import { onMount } from 'svelte'
	import { setBlockType } from 'prosemirror-commands'
	import { textblockTypeInputRule } from "prosemirror-inputrules"

	import Mark from '../utils/mark'


	class Heading extends Mark {
		constructor()	{
			super()
			this.makeHeadings = () => {
				let out = [1,2,3,4,5,6].map(level=>{
					return {
						tag: "h" + level,
						attrs: { level: level },
						getAttrs: function(dom) { 
				    		return {
				    			classNames: dom.className,
				    			level: dom.tagName[1]
				    		};
			    		} 
					}
				})
				return out
			}
		}
	  get name()	{
	  	return "heading"
	  }

	  get type() {
	  	return "nodes"
	  }
	  
	  get schema() {
	    return {
	    	attrs: { 
	    		classNames: { default: "" },
	    		level: { default: 1 }
		    },
		    content: "inline*",
		    group: "block",
		    defining: true,
		    parseDOM: this.makeHeadings(),
		    toDOM(node) { 
		    	let classNames = node.attrs.classNames
		    	return ["h" + node.attrs.level, { class: classNames }, 0] 
		    }
		}
	}

	  get key()	{
	  	return "KeyB"
	  }

	  command(attrs={level: 1}) {
	    return setBlockType(this.editorSchema[this.type][this.name], attrs)
	  }

	  inputRule() {
	    return [
	      textblockTypeInputRule(new RegExp("^(#{1,6})\\s$"),
                                this.editorSchema[this.type][this.name], match => ({level: match[1].length}))
	    ]
	  }
	}


	export let ext = new Heading()
</script>
<style>

</style>
<span on:click="{ext.runCommand({level: 2})}" class="menubar__button">
	Heading 2
</span>

