<script>
	import { onMount } from 'svelte'
	import { toggleMark } from 'prosemirror-commands'
	import {schema} from "prosemirror-schema-basic"
	import markInputRule from "../utils/markInputRule"


	import Mark from '../utils/mark'

	class Italic extends Mark {
	  get name()	{
	  	return "em"
	  }

  	  get type() {
	  	return "marks"
	  }
	  
	  get schema() {
	    return {
	      parseDOM: [
	        { tag: 'i' },
	        { tag: 'em' },
	        { style: 'font-style=italic' },
	      ],
	      toDOM: () => ['em', 0]
	    }
	  }

	  get key()	{
	  	return "KeyI"
	  }

	  command() {
	    return toggleMark(this.editorSchema[this.type][this.name])
	  }

	  inputRule() {
	    return [
	      markInputRule(/(?:^|[^_])(_([^_]+)_)$/, this.editorSchema[this.type][this.name]),
	      markInputRule(/(?:^|[^*])(\*([^*]+)\*)$/, this.editorSchema[this.type][this.name]),
	    ]
	  }
	}

	export let ext = new Italic()
	
</script>
<style>

</style>
<span on:click="{ext.runCommand()}" class="menubar__button">
	Italic
</span>
