<script>
	import { setBlockType } from 'prosemirror-commands'
	import { textblockTypeInputRule } from "prosemirror-inputrules"

	import Mark from '../utils/mark'


	class Paragraph extends Mark {
	  get name()	{
	  	return "paragraph"
	  }

	  get type() {
	  	return "nodes"
	  }

	  get schema() {
	    return {
	    	attrs: {
				classNames: { default: "" }
			},
			content: "inline*",
			group: "block",
			// parseDOM: [{tag: "p"}],
			parseDOM: [
		    	{ 
		    		tag: 'p', 
		    		getAttrs: function(dom) { 
			    		return {
			    			classNames: dom.className
			    		};
		    		} 
		    	},
		    ],
			toDOM(node) { 
				let classNames = node.attrs.classNames
				return ["p", { class: classNames }, 0] 
				// return ["p", 0] 
			}
	    }
	  }

	  get key()	{
	  	return ""
	  }

	  command(attrs) {
	    return setBlockType(this.editorSchema[this.type][this.name], attrs)
	  }

	}

	export let ext = new Paragraph()
</script>
<style>

</style>
<span on:click="{ext.runCommand()}" class="menubar__button">
	P
</span>

