<script>
	import { DecorationSet, Decoration } from 'prosemirror-view'
	import {Plugin} from "prosemirror-state"
	import Mark from '../utils/mark'
	import { hasParentNodeOfType, findParentNode } from 'prosemirror-utils'
	import { toggleClass } from '../utils/commands'

	export let allowedPlugins
	
	class StyleSheet extends Mark {
		constructor()	{
			super()
			this.options = {
				classNames: [],
			}
			this.cssClassNameToggled = ""
		}

		get name()	{
			return "style-sheet"
		}

		command(attrs={class: ""}) {
	    	return toggleClass(allowedPlugins, ext.editorSchema, attrs.class)
	  	}
	}

	export let ext = new StyleSheet()

</script>


<span on:click="{ext.runCommand({class: 'mybg'})}" class="menubar__button">
	MYBG
</span>

<span on:click="{ext.runCommand({class: 'myred'})}" class="menubar__button">
	MYRED
</span>

<span on:click="{ext.runCommand({class: 'mycolor'})}" class="menubar__button">
	MYCOLOR
</span>



