<Editor {menu} {ext} {content} >
	<Menu>
		<Italic bind:this = {menu['em']} />
		<Bold bind:this = {menu['strong']} />
		<Blockquote bind:this = {menu['blockquote']} />
		<Heading bind:this = {menu['heading']} />
		
		<!--
		<AutoComplete 
			items={tailwind_list} 
			bind:selectedItem={tailwind_selected} 
			bind:this = {ext['autocomplete']} />
		-->
		
		<StyleSheet allowedPlugins={menu} bind:this = {menu['style-sheet']} />
	
		<Div bind:this = {menu['div']} />
		<Paragraph bind:this = {menu['paragraph']} />
	</Menu>
</Editor>

<script>
	import { TtEditor as Editor, TtMenu as Menu	} from './components/components.module.js'
	import Italic from './plugins/Italic.svelte'
	import Bold from './plugins/Bold.svelte'
	import Blockquote from './plugins/Blockquote.svelte'
	import Heading from './plugins/Heading.svelte'
	// import AutoComplete from './components/AutoComplete.svelte'
	import StyleSheet from './plugins/StyleSheet.svelte'
	import Div from './plugins/Div.svelte'
	import Paragraph from './plugins/Paragraph.svelte'

	let menu={}; // general menu
	let ext={} // other extentions
	let content = `<p>123</p>
	<blockquote class="myred">
	 4567890
	</blockquote>
<p>123</p>
	<blockquote>
	 456
	</blockquote>
	<div class="myred mybg">Hello from DIV</div>
	<h6 class="mycolor">Заголовок 6</h6>
	`

	const tailwind_list = ["White", "Red", "Yellow", "Green", "Blue", "Black"];
	let tailwind_selected;

</script>
